<!DOCTYPE html>


<main>

    <div id="recipePart3" class="create">

        <h1>CRÉER UNE RECETTE</h1>
        <h2>FINALISER LA RECETTE</h2>

        <form method="POST" id="formPart3">


            <div class="option_time_prepa">

                <h3>Sélectionner un temps de préparation</h3>
                <select name="preparationTime_h" id="time_prepa_h" required>
                    <option value="" hidden>................</option>
                    <% for (i = 0; i< 24; i++ ) { %>
                        <option value= <%= i %> ><%= (i<10 ? `0${i}` : i)  %></option>
                    <% } %>
                </select>
    
                <span>heures</span>
    
                <select name="preparationTime_m" id="time_prepa_min" required>
                    <option value="" hidden>................</option>
                    <% for (i = 0; i< 60; i++ ) { %>
                        <option value= <%= i %> ><%= (i<10 ? `0${i}` : i)  %></option>
                    <% } %> 
                </select>
    
                <span>minutes</span>
            </div>


            <div class="option_type">
                <h3>Sélectionner un type de cuisson</h3>
                <input type="text" id="cookingType" name="cookingType">
            </div>


            <div class="option_time_cooking">
                
                <h3>Sélectionner un temps de cuisson</h3>
                <select name="cookingTime_h" id="time_cooking_h">
                    <option value="" hidden>................</option>
                    <% for (i = 0; i< 24; i++ ) { %>
                        <option value= <%= i %> ><%= (i<10 ? `0${i}` : i)  %></option>
                    <% } %>
                </select>
    
                <span>heures</span>
    
                <select name="cookingTime_m" id="time_cooking_min">
                    <option value="" hidden>................</option>
                    <% for (i = 0; i< 60; i++ ) { %>
                        <option value= <%= i %> ><%= (i<10 ? `0${i}` : i)  %></option>
                    <% } %> 
                </select>
    
                <span>minutes</span>
            </div>


            <div class="option_time_rest">

                <h3>Sélectionner un temps de repos</h3>
                <select name="restTime_h" id="time_rest_h">
                    <option value="" hidden>................</option>
                    <% for (i = 0; i< 24; i++ ) { %>
                        <option value= <%= i %> ><%= (i<10 ? `0${i}` : i)  %></option>
                    <% } %>
                </select>
    
                <span>heures</span>
    
                <select name="restTime_m" id="time_rest_min">
                    <option value="" hidden>................</option>
                    <% for (i = 0; i< 60; i++ ) { %>
                        <option value= <%= i %> ><%= (i<10 ? `0${i}` : i)  %></option>
                    <% } %>
                </select>
    
                <span>minutes</span>
            </div>


            <h3>Tags</h3>
            <textarea id="tags" name="tags" placeholder=" #Ajouter des tags "></textarea>


            <div class="interractive_button2">
                <a href=""><button type="previous">Étape précédente</button></a>
                <a href=""><button type="submit">Valider la recette</button></a>
            </div> 


        </form>

    </div>
</main>
