<!DOCTYPE html>



<div class="scrolable">

    <%  if (Object.keys(posts).length === 0) { %>

        <h3>There's no posts on the website yet <br/>Start posting NOW !</h3>

    <% } else { %>

        <% Object.keys(posts).reverse().forEach(post => { %> <%# Permet d'inverser l'affichages des posts dans le JSON pour avoir les postes du plus récent au plus ancien %> 
            
            <% const publicationDate = new Date( Number(posts[post].timestamp) ).toLocaleDateString() %>  <%# Reprendre la date qui se trouve stocké dans le post %>
            <% const publicationTime = new Date( Number(posts[post].timestamp) ).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) %>  <%# Reprendre l'heure qui se trouve stocké dans le post %>
            <% let isPostLiked = false %>
            <% let isPostSaved = false %>
            <% let likedStatus = "unclicked" %>
            <% let savedStatus = "unclicked" %>
            <%# Vérifier si le post est liké ou pas %>
            <% if (user) {
                isPostLiked = (user.liked_posts.indexOf(post) == -1 ? false : true);
                isPostSaved = (user.saved_posts.indexOf(post) == -1 ? false : true);

                if (isPostLiked) {
                    likedStatus = "clicked"
                }

                if (isPostSaved) {
                    savedStatus = "clicked"
                }

            } %>
            
            <div class="item" id="<%= post %>_div">

                <div class="image_recette">
                    <a class="post_link_wrap" href="/post/<%= post %>">
                        <img id="<%= post %>_image" src="/medias/users/post_pictures/<%= posts[post].presentationImage %>" alt="Image">
                    </a>
                </div>
        
                <div class="row_under_image">
                    <div class="row_left_side">
                        
                        <div class="title">
                            <h1 id="<%= post %>_name"><%= posts[post].name %></h1>
                        </div>
        
                        <div class="like">
                            <% let likedImagePath = (isPostLiked ? "/medias/website/common/liked.png" : "/medias/website/common/like.png") %>
                            <img src="<%= likedImagePath %>" class="like_button" id="<%= post %>_like_button_<%= likedStatus %>">
                            <span id="<%= post %>_like_count"><%= posts[post].likedBy.length %></span>
                        </div>
                    </div>        
        
                    <div class="share">
                        <% let savedImagePath = (isPostSaved ? "/medias/website/common/saved.png" : "/medias/website/common/save.png") %>
                        <img src="<%= savedImagePath %>" class="save_button" id="<%= post %>_save_button_<%= savedStatus %>">
                    </div>

                </div>
                <h3 id="<%= post %>_timestamp"><%= publicationDate %> - <%= publicationTime %></h3>
            </div>

        <% }); %>
    
    <% } %>

</div>